@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200;300;400;500;600;700&family=Caveat:wght@400;600&family=Vujahday+Script&display=swap');

.hero1 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/profile.jpg") center/cover no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 400px;
    z-index: -10;
}

.formBox1 {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    background: rgba(255, 255, 255, 0.884);
    padding: 5px;
    border-radius: 10px;
    top: 70px;
    border: solid rgb(173, 123, 31);
    border-style: groove;
}

.inputGroup1 {
    top: 220px;
    position: absolute;
    width: 300px;
    transition: .5s;
    color: rgba(61, 41, 3, 0.801);
    text-align: center;
}

.inputField1 {
    width: 100%;
    padding: 10px;
    margin: 4px -40px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-family: 'Amiri', serif;
    font-weight: bold;
}

button.submitBtn1 {
    width: 85%;
    padding: 10px;
    margin-right: 8%;
    margin-top: 60px;
    cursor: pointer;
    background: linear-gradient(to right, #d11609de, #ffad06);
    outline: none;
    border-radius: 30px;
    font-family: 'Amiri', serif;
    font-weight: bold;
}



.profileImg {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: center;
    margin-right: 160px;
    margin-bottom: 40%;
    border: solid rgb(173, 123, 31);
    border-style: dashed;
    transition: 0.8s;
}

.profileImg:hover {
    transform: scale(1.1);
}